# Variables de entorno requeridas para ejecutar el script

# Bot de Telegram
BOT_TOKEN=your_bot_token_here
DESTINATION_CHAT=-your_chat_id_here

# URL del botón (opcional)
BUTTON_URL=

# Configuración de la verificación de tarjetas
CHARGE_OPTION=1
CARD_AMOUNT=10
SLEEP_BETWEEN_CYCLES=300

# Rutas de archivos (opcional)
BAS_BIN_FILE=bas_bin.csv
CSV_BIN_FILE=tarjetas.csv
DB_PATH=published.db
